# ðŸ“˜ Python Basics for IIT Madras I Course Students
This notebook covers the essential Python concepts for beginners. Each section includes explanations, examples, and practice cells.

## 1. Python Introduction

In [2]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

## 2. Python Syntax and Comments

In [3]:
# This is a comment
print("Hello, World!")  # Inline comment

Hello, World!

## 3. Variables and Data Types

In [1]:
name = "IITM Student"
age = 21
height = 5.8
is_enrolled = True
print(name, age, height, is_enrolled)

IITM Student 21 5.8 True

## 4. Numbers and Casting

In [1]:
x = 5      # int
y = 3.14   # float
z = int(y) # casting float to int
print(x, y, z)

5 3.14 3

## 5. Strings

In [2]:
greeting = "Hello"
name = "Student"
print(greeting + " " + name)
print(len(greeting))

Hello Student
5

## 6. Booleans and Operators

In [3]:
a = 10
b = 20
print(a > b)
print(a == b)

False
False

## 7. Collections: List, Tuple, Set, Dictionary

In [4]:
# List
subjects = ["Math", "Python", "DS"]
subjects.append("ML")
print(subjects)

# Tuple
grades = (90, 85, 92)
print(grades)

# Set
unique_ids = {101, 102, 103}
print(unique_ids)

# Dictionary
student = {"name": "IITM", "age": 21}
print(student["name"])

['Math', 'Python', 'DS', 'ML']
(90, 85, 92)
{101, 102, 103}
IITM

## 8. Conditional Statements

In [5]:
marks = 70
if marks >= 75:
    print("Distinction")
elif marks >= 50:
    print("Pass")
else:
    print("Fail")

Pass

## 9. Loops (for, while)

In [6]:
# for loop
for i in range(5):
    print(i)

# while loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4
0
1
2
3
4

## 10. Functions

In [7]:
def greet(name):
    return f"Hello, {name}!"

print(greet("IITM Student"))

Hello, IITM Student!

## 11. Classes and Objects

In [8]:
class Student:
    def __init__(self, name, id):
        self.name = name
        self.id = id

    def show(self):
        print(f"Name: {self.name}, ID: {self.id}")

s1 = Student("Ravi", 1001)
s1.show()

Name: Ravi, ID: 1001

## 12. File Handling

In [11]:
with open("sample.txt", "w") as f:
    f.write("Welcome to Python at IIT Madras!")

## âœ… Practice Challenge
Write a function that calculates the factorial of a number.

In [10]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

ðŸ§  **Remember**: Practice is the key to mastering Python. Happy Learning!